{% extends 'base.html.twig' %}
    
{% block body %}
<head>
    <link href="{{ asset('css/admin_club.css') }}" rel="stylesheet"/>
</head>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
   
</style>

  <main id="main">

    <div class="container-md">
        <!--Section: Contact v.2-->
        {% for message in app.flashes('alerta') %}
                <div class="alert alert-success mt-4 mb-b">
                    {{  message  }}
                </div>
                {% endfor %}
    <section class="mb-4">
 <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Pistas con las que cuenta el club
        {% for data in list %}
            {% if data.id == app.request.attributes.get('id') %}
                {{data.name}}
            {% endif %}
        {% endfor %}
        </h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-4">A continuación, se muestran todos las pistas que dispone el club.</p>

        
  <div class="container">
  
  <div class="row">
  {% for pitch in club.pitchs %}
        <div class="col-md-4"><a href="{{ path('app_user_pitch_match',{ 'id' : pitch.id }) }}"><div class="card text-white card-has-bg click-col" style="background-image: url('{{ asset('img/pistas.png') }}');">
                <img class="card-img d-none" src="'{{ asset('img/pistas.png') }}');">
                <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <small class="card-meta mb-2" style="text-transform:uppercase;">Pista - {{pitch.name}}</small><br>
                    <small><i>All in Padel</i></small>
                </div>
                <div class="card-footer">
                
                <div class="media">
        </div>
                </div>
                </div>
            </div></a>
            </div>
    {% endfor %}

  <p class="text-center w-responsive mx-auto mt-3 mb-4"><a class="btn btn-primary text-white" style="margin-left: 4px" href="{{ path('app_user_clubs') }}">Volver</a></p>
            </div>
            </div>
</section>


  </main>
  
{% endblock %}