{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">

        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Concretar un nuevo entrenamiento</h2>
        <p class="text-center w-responsive mx-auto mb-2">A continuación, rellena los siguientes campos para añadir un nuevo entrenamiento.</p>
        {{ form_start(addForm) }}
                    <div class="form-group">
                        Pista en la que quieres entrenar:
                        {{ form_widget(addForm.pitch,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Descripcion:
                        {{ form_widget(addForm.description,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Estado:
                        {{ form_widget(addForm.status,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Fecha:
                        {{ form_widget(addForm.date,{'attr':{'class':'form-control'}}) }}
                    </div>
                        {{ form_widget(addForm.id_user,{ 'value': app.user.id }) }}
                    <div class="form-group">
                        <button class="btn btn-primary mt-2 text-white">Añadir</button>
                        <a class="btn btn-primary mt-2 text-white" href="{{ path('app_user_pitch_match',{ 'id' : app.request.attributes.get('id') }) }}">Volver</a>
                    </div>
        {{form_end(addForm)}}          
            <!--Grid column-->
    </section>
 
    <!--Section: Contact v.2-->
  </main>

{% endblock %}
