{% extends 'base.html.twig' %}
    
{% block body %}
<head>
    <link href="{{ asset('css/admin_club.css') }}" rel="stylesheet"/>
</head>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    
    <section class="mb-4">
 <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">¿Qué deseas hacer, entrenar o jugar un partido?</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-4">A continuación, selecciona si deseas entrenar o jugar un partido.</p>

        
        <div class="container">
        
        <div class="row" style="text-align: center">
            <div class="col-md-6"><a href="{{ path('app_user_pitch_training',{ 'id' : app.request.attributes.get('id') }) }}"><div class="card text-white card-has-bg click-col" style="background-image: url('{{ asset('img/training.jpg') }}');">
                <img class="card-img d-none" src="'{{ asset('img/pistas.png') }}');">
                <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <small class="card-meta mb-2" style="text-transform:uppercase;">ENTRENAR</small><br>
                    <small><i>All in Padel</i></small>
                </div>
                <div class="card-footer">
                
                <div class="media">
        </div>
                </div>
                </div>
            </div></a></div>
            <div class="col-md-6"><a href="{{ path('app_user_playmatches') }}"><div class="card text-white card-has-bg click-col" style="background-image: url('{{ asset('img/vs.jpg') }}');">
                <img class="card-img d-none" src="'{{ asset('img/pistas.png') }}');">
                <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <small class="card-meta mb-2" style="text-transform:uppercase;">JUGAR PARTIDO</small><br>
                    <small><i>All in Padel</i></small>
                </div>
                <div class="card-footer">
                
                <div class="media">
        </div>
                </div>
                </div>
            </div></a></div>
            <p class="text-center w-responsive mx-auto mt-3 mb-4"><a class="btn btn-primary text-white" style="margin-left: 4px" href="{{ path('app_user_clubs') }}">Cancelar</a></p>

        </div>

        </div>
    </section>

 
 
    <!--Section: Contact v.2-->

  </main>
  
{% endblock %}