{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">

        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Crear un nuevo equipo</h2>
        {{ form_start(form) }}
                    <div class="form-group">
                        Nombre del equipo:
                        {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mt-2 text-white">Crear</button>
                    </div>
        {{form_end(form)}}          
            <!--Grid column-->
    </section>
 
  </main>
 
{% endblock %}
