<h1>¡Hola! Por favor confirma tu email</h1>

<p>
    Por favor confirma la dirección de correo electrónico desde el siguiente enlace: <br><br>
    <a href="{{ signedUrl }}">Confirmar email</a>.
    Este enlace expirará en el plazo de {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    ¡Gracias!
</p>
