{% extends 'base.html.twig' %}
    
{% block body %}
<head>
    <link href="{{ asset('css/admin_club.css') }}" rel="stylesheet"/>
</head>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
   
</style>
    
  <main id="main">

    <div class="container-md">
        <!--Section: Contact v.2-->
        {% for message in app.flashes('alerta') %}
                <div class="alert alert-success mt-4 mb-b">
                    {{  message  }}
                </div>
                {% endfor %}
    <section class="mb-4">
    <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Clubs miembros que han confiando en <i>All in Padel</i></h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-4">A continuación, se muestran todos los clubs que trabajan con nosotros</p>

  <div class="container">
  
  <div class="row">
  {% for data in list %}
        <div class="col-md-4"><a href="{{ path('app_user_pitch',{ 'id' : data.id }) }}"><div class="card text-white card-has-bg click-col" style="background-image: url('{{ asset('img/club.jpg') }}');">
                <img class="card-img d-none" src="'{{ asset('img/club.jpg') }}');">
                <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <small class="card-meta mb-2" style="text-transform:uppercase;">Club - {{data.name}}</small><br>
                    <small><i>All in Padel</i></small>
                </div>
                <div class="card-footer">
                <div class="media">
        <img class="mr-3 rounded-circle" src="{{ asset('img/direccion.jpg') }}" style="max-width:50px;">
        <div class="media-body">
            <h6 class="my-0 text-white d-block" style="text-transform:capitalize;">{{data.city}}</h6>
            <small style="text-transform:capitalize;">{{data.location}}</small>
        </div>
        </div>
                </div>
                </div>
            </div></a>
            </div>
    {% endfor %}
  
            </div>
            </div>
    </section>

  </main>
 
{% endblock %}