{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                    <div class="text-center">
                    <img src="{{ asset('img/logo.jpg') }}"
                        style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1"><i><strong>We are <u>All in Padel</u></i></strong></h4>
                    </div>
                    <p>Por favor introduce los datos para <strong><u>resetear</u></strong> la contraseña de tu cuenta.</p>
                    {{ form_start(requestForm) }}
                        <div class="form-outline mb-4">
                            Correo electrónico:
                            {{ form_widget(requestForm.email,{'attr':{'class':'form-control'}}) }}
                        </div>
                    <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Enviar</button>
                    <a type="button" class="btn btn-outline-danger mb-3" href="{{ path('app_login') }}">Volver</a>
                    {{ form_end(requestForm) }}
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">¡La mejor aplicación sobre el pádel hasta el momento!</h4>
                    <p class="small mb-0" style="text-align: justify">All padel nace con la necesidad de reservar pistas de pádel de manera online y muy sencilla. Debido a la llegada del Covid-19 todos los establecimientos que
                    contaban con estas pistas para el juego debían realizar las reservas de manera telemática para tener el mínimo contacto posible. Nuestra aplicación soluciona este problema y a día de hoy
                    (ya superada y dada por finalizada la pandemia) más usuarios están empezando a usarla por sus grandes prestaciones a la hora de reserva de pistas.</p></br>
                    <ul>
                        <li>Comodidad</li>
                        <li>Rapidez</li>
                        <li>Sencillez</li>
                        <li>100% online</li>
                        <li>Cuenta con versión web y móvil</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
{% endblock %}
