{% extends 'base.html.twig' %}

{% block body %}
<head>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
</head>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    
  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('{{ asset('img/padel_01.jpg') }}');">
                    <div class="img-bg-inner">  
                      <h2>Juega un partido o disfruta de un entrenamiento</h2>
                      <p>Reserva tu pista para poder jugar un partido con los amigos o bien para poder mejorar tu nivel de juego gracias a nuestro sistema de entrenamientos.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('{{ asset('img/post-slide-1.jpg') }}');">
                    <div class="img-bg-inner">
                      <h2>¿Con cuántos clubs contamos en <i>All in Padel</i>? Ven y echa un vistazo a los clubs miembro</h2>
                      <p>Muchos clubes han apostado por nosotros a la hora de implementar nuestra tecnología para destacar.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('{{ asset('img/post-slide-2.jpg') }}');">
                    <div class="img-bg-inner">
                      <h2>¡Ahora puedes contar con <i>All in Padel</i> desde la palma de tu mano!</h2>
                      <p>Hemos dado el salto al dispositivo móvil y ahora podéis encontrar nuestra aplicación tanto en <i>Play Store</i> como en <i>Apple Store</i>.</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="" class="img-bg d-flex align-items-end" style="background-image: url('{{ asset('img/post-slide-4.jpg') }}');">
                    <div class="img-bg-inner">
                      <h2>Últimas noticias sobre el mundo del pádel</h2>
                      <p>Aquí te mantendremos al día con las noticias más recientes acerca de este maravilloso deporte.</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->
  <section class="light">
    <div class="container py-2">

      <article class="postcard light blue">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="{{ asset('img/pistas.png') }}" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><a href="#">¿Qué ofrece <i>All in Padel</i>?</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Te ofrecemos la posibilidad de que reserves la pista que más te guste en tu club favorito para que juegues un partido con tus amigos o disfrutes de un entrenamiento con los entrenadores cualificados. Además contarás con un historial para ver los resultados de dichos partidos y entrenamientos. Y, si tienes alguna duda, contacta con nuestro equipo. ¡Reserva ya tu pista y pásatelo en grande!</div>
        </div>
      </article>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="{{ asset('img/team.jpg') }}" alt="Image Title" />	
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title red"><a href="#">Equipo <i>All in Padel</i></a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">Somos un equipo muy joven dirigido por nuestro CEO Javier Ruiz Muro. <i>All in Padel</i> nació de su mano en el año 2020 y a lo largo de 2021 y 2022 se han ido incorporando numerosos trabajadores al equipo de desarrollo y mantenimiento. Esperamos que para el 2028 nuestro equipo actual se duplique y quizás nos expandiremos hacia otros horizontes totalmente diferentes al desarrollo.</div>
        </div>
      </article>
      <article class="postcard light green">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="{{ asset('img/download.jpg') }}" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title green"><a href="#">Descarga la aplicación para móviles</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">¡Cuenta con nuestra versión móvil a partir de ahora! Nuestro equipo acaba de lanzar en enero de 2022 la aplicación <i>All in Padel</i> en versión móvil. Obviamente está disponible en Google Store (Android) y en la App Store (iOS).</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="bi bi-download"> Download</i></li>
          </ul>
        </div>
      </article>
    </div>
  </section> 

  </main><!-- End #main -->

{% endblock %}
