
{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">
                {% for message in app.flashes('alerta') %}
                <div class="alert alert-success mt-4 mb-b">
                    {{  message  }}
                </div>
                {% endfor %}
        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Listado de las reservas que se han hecho con <i>All in Padel</i></h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-2">A continuación, se muestran un registro de todas las reservas que se han hecho</p>
            
            <!--Grid column-->
            <table class="table">
            <thead>
                <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Usuario', 't.id_user') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Pista', 't.id_pitch') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Fecha', 't.date') }}</th>
                </tr>
            </thead>
            <tbody id="myTable">
            {% for data in pagination %}
                    <tr>
                    <td>{{ data.id_user }}</td>
                    <td>{{ data.id_pitch }}</td>
                    <td>{{ data.date }}</td>
                    </tr>               
            {% endfor %}
            </tbody>
            </table>
             <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <!--Grid column--> 
    </section>
 
    <!--Section: Contact v.2-->

  </main>
  
{% endblock %}
