{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">

        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Editando tus datos personales</h2>
        {{ form_start(form) }}
                    <div class="form-group">
                        Nombre:
                        {{ form_widget(form.nombre,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Apellido:
                        {{ form_widget(form.apellido,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Contraseña:
                        {{ form_widget(form.password,{'attr':{'class':'form-control'}}) }}                      
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mt-2 text-white">Actualizar</button>
                        <a class="btn btn-primary mt-2 text-white" href="{{ path('app_main') }}">Volver</a>
                    </div>
        {{form_end(form)}}
            <!--Grid column-->
    </section>
 
    <!--Section: Contact v.2-->
  </main>
  
{% endblock %}
