
{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">
                {% for message in app.flashes('alerta') %}
                <div class="alert alert-success mt-4 mb-b">
                    {{  message  }}
                </div>
                {% endfor %}
        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Listado de los partidos que se han disputado en <i>All in Padel</i></h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-2">A continuación, se muestran un registro de todos los partidos jugados a raíz de nuestra aplicación</p>
            
            <!--Grid column-->
            <table class="table">
            <thead>
                <tr>
                <th scope="col">Usuario</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Fecha', 't.date') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Resultado', 't.result') }}</th>
                </tr>
            </thead>
            <tbody id="myTable">
            {% for data in pagination %}
                    <tr>
                    {% for l in list %}
                    {% if data.idusuario == l.id %}
                        <td>{{ l.nombre }}</td>
                    {% endif %}
                    {% endfor %}
                    <td>{{ data.date|date('d-m-Y') }}</td>
                    <td>{{ data.result }}</td>
                    </tr>               
            {% endfor %}
            </tbody>
            </table>
             <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <!--Grid column-->
    </section>
 
    <!--Section: Contact v.2-->

  </main>
  
{% endblock %}
