{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">

        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Añadir una nueva pista al club:
        {% for data in list2 %}
            {% if data.id == app.request.attributes.get('id') %}
                {{data.name}}
            {% endif %}
        {% endfor %}
        </h2>
        <p class="text-center w-responsive mx-auto mb-2">A continuación, rellena los siguientes campos para añadir al nuevo club miembro.</p>
        {{ form_start(addForm) }}
                    <div class="form-group">
                        Nombre:
                        {{ form_widget(addForm.name,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Club al que pertenece:
                        {{ form_widget(addForm.club,{'attr':{'class':'form-control', 'value': app.request.attributes.get('id')}}) }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mt-2 text-white">Añadir</button>
                        <a class="btn btn-primary mt-2 text-white" href="{{ path('app_pitch',{ 'id' : app.request.attributes.get('id') }) }}">Volver</a>
                    </div>
        {{form_end(addForm)}}          
            <!--Grid column-->
    </section>
 
    <!--Section: Contact v.2-->
  </main>

{% endblock %}
