{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">

        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Editando la pista:
        {% for data in list %}
            {% if data.id == app.request.attributes.get('id') %}
                {{data.name}}
            {% endif %}
        {% endfor %}
        </h2>
        {{ form_start(form) }}
                    <div class="form-group">
                        Nombre:
                        {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Club al que pertenece:
                        {{ form_widget(form.club,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mt-2 text-white">Actualizar</button>
                        <a class="btn btn-primary mt-2 text-white" href="javascript:history.back()">Volver</a>
                        <a class="btn btn-danger mt-2 text-white" style="float: right" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-trash"></i></a>
                    </div>
        {{form_end(form)}}          
            <!--Grid column-->
    </section>
 
    <!--Section: Contact v.2-->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ELIMINAR PISTA</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Estás seguro de que quieres eliminar la pista "
            {% for data in list %}
            {% if data.id == app.request.attributes.get('id') %}
                {{data.name}}
            {% endif %}
            {% endfor %}
            "?
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-danger" href="{{ path('app_pitch_delete',{ 'id' : app.request.attributes.get('id') }) }}">Confirmar</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
    </div>
  </main>
  
{% endblock %}
