{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">

        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Añadir un nuevo usuario a la comunidad <i>All in Padel</i> {{app.request.attributes.get('id')}}</h2>
        <p class="text-center w-responsive mx-auto mb-2">A continuación, rellena los siguientes campos para añadir un nuevo usuario.</p>
        {{ form_start(addForm) }}
                    <div class="form-group">
                        Nombre:
                        {{ form_widget(addForm.nombre,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Apellido:
                        {{ form_widget(addForm.apellido,{'attr':{'class':'form-control'}}) }}
                    </div> 
                    <div class="form-group">
                        Correo electrónico:
                        {{ form_widget(addForm.email,{'attr':{'class':'form-control'}}) }}
                    </div> 
                    <div class="form-group">
                        Rol:
                        {{ form_widget(addForm.roles,{'attr':{'class':'form-control'}}) }}                      
                    </div>
                    <div class="form-group">
                        Contraseña:
                        {{ form_widget(addForm.password,{'attr':{'class':'form-control'}}) }}                      
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mt-2 text-white">Añadir</button>
                        <a class="btn btn-primary mt-2 text-white" href="{{ path('app_user_list') }}">Volver</a>
                    </div>
        {{form_end(addForm)}}          
            <!--Grid column-->
    </section>
 
    <!--Section: Contact v.2-->
  </main>
 
{% endblock %}
