{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">
                {% for message in app.flashes('alerta') %}
                <div class="alert alert-success mt-4 mb-b">
                    {{  message  }}
                </div>
                {% endfor %}
        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Listado de los usuarios que utilizan <i>All in Padel</i></h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-2">A continuación, se muestran un registro de todos los usuarios que forman nuestra comunidad</p>
            
            <!--Grid column-->
            <table class="table">
            <thead>
                <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Nombre', 'u.nombre') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Apellido', 'u.apellido') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Correo electrónico', 'u.email') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Roles', 'u.roles') }}</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody id="myTable">
            {% for data in pagination %}
                    <tr>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.apellido }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.roles|join(', ') }}</td>
                    <td> ********** </td>
                    <td>
                    <a class="btn btn-warning text-white" href="{{ path('app_update',{ 'id' : data.id }) }}"><i class="bi bi-person"></i></a>
                    </td>
                    </tr>               
            {% endfor %}
            </tbody>
            </table>
             <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <!--Grid column-->
            <a class="btn btn-primary text-white" href="{{ path('app_add') }}">Añadir usuario</a>
    </section>
 
    <!--Section: Contact v.2-->

  </main>
  
{% endblock %}
