{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger mt-4 mb-b">
            ¡EL USUARIO O CONTRASEÑA QUE HAS INTRODUCIDO NOS SON VÁLIDOS!           
        </div>
    {% endif %}
    <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                    <img src="{{ asset('img/logo.jpg') }}"
                        style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1"><i><strong>We are <u>All in Padel</u></i></strong></h4>
                    </div>

                    <form action="{{ path('app_login') }}" method="post">
                    <p>Por favor introduce los datos de tu cuenta.</p>

                    <div class="form-outline mb-4">
                        <input type="email" id="username" class="form-control"
                        placeholder="Correo electrónico" name="_username" value="{{ last_username }}" />
                        <label class="form-label" for="form2Example11">Correo electrónico</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control" name="_password" />
                        <label class="form-label" for="form2Example22">Contraseña</label>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Entrar</button>
                        <a class="text-muted" href="{{ path('app_forgot_password_request') }}">¿Has olvidado tu contraseña?</a>
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">¿Eres nuevo y no tienes una cuenta?</p>
                        <a type="button" class="btn btn-outline-danger" href="{{ path('app_register') }}">Créate una</a>
                    </div>

                    </form>

                </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">¡La mejor aplicación sobre el pádel hasta el momento!</h4>
                    <p class="small mb-0" style="text-align: justify">All padel nace con la necesidad de reservar pistas de pádel de manera online y muy sencilla. Debido a la llegada del Covid-19 todos los establecimientos que
                    contaban con estas pistas para el juego debían realizar las reservas de manera telemática para tener el mínimo contacto posible. Nuestra aplicación soluciona este problema y a día de hoy
                    (ya superada y dada por finalizada la pandemia) más usuarios están empezando a usarla por sus grandes prestaciones a la hora de reserva de pistas.</p></br>
                    <ul>
                        <li>Comodidad</li>
                        <li>Rapidez</li>
                        <li>Sencillez</li>
                        <li>100% online</li>
                        <li>Cuenta con versión web y móvil</li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
            
{% endblock %}
