{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">
        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Histórico de las consultas de los clientes</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-2">A continuación, se muestran todas las dudas/cuestiones que tienen los clientes acerca de <i>All in Padel</i> </p>
            
            <!--Grid column-->
            <table class="table">
            <thead>
                <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Correo electrónico', 'q.email') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Asunto', 'q.subject') }}</th>
                <th scope="col">Mensaje</th>
                <th scope="col">Responder</th>
                </tr>
            </thead>
            <tbody id="myTable">
            {% for data in pagination %}
                    <tr>
                    <td>{{ data.email }}</td>
                    <td>{{ data.subject }}</td>
                    <td>{{ data.msg }}</td>
                    <td>
                    <a class="btn btn-warning text-white" href="{{ path('app_response_query',{ 'id' : data.id }) }}"><i class="bi bi-pencil"></i></a>
                    </td>
                    </tr>               
            {% endfor %}
            </tbody>
            </table>
             <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <!--Grid column-->
    </section>
 
    <!--Section: Contact v.2-->
  </main>
{% endblock %}
