<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}All in Padel{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo.jpg') }}">

        <link href="{{ asset('img/logo.jpg') }}" rel="icon">
        <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="{{ asset('css/login_style.css') }}" rel="stylesheet"/>
        

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        
         <!-- Vendor CSS Files -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">

         <!-- Template Main CSS Files -->
        <link href="{{ asset('css/variables.css') }}" rel="stylesheet">
        <link href="{{asset('css/main.css') }}" rel="stylesheet">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- Vendor JS Files -->
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('vendor/swiper/swiper-bundle.min.js') }}"></script>
            <script src="{{ asset('vendor/glightbox/js/glightbox.min.js') }}"></script>
            <script src="{{ asset('vendor/aos/aos.js') }}"></script>
            <script src="{{ asset('vendor/php-email-form/validate.js') }}"></script>

            <!-- Template Main JS File -->
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
        
    </head>
    <body>
    
    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_USER') %}
    <header id="header" class="header d-flex align-items-center fixed-top"  style="background-color: white">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{ path('app_main') }}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1><i>All in Padel</i></h1>
      </a>
      
      <nav id="navbar" class="navbar">
        <ul>
          {% if is_granted('ROLE_SUPER_ADMIN') %}
          <li><a href="{{ path('app_user_list') }}">Usuarios</a></li>
          <li class="dropdown"><a href="{{ path('app_admin_clubs') }}"><span>Clubs</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
             <li><a href="{{ path('app_club_add') }}">Añadir nuevo club</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href=""><span>Historial</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{ path('app_teams') }}">Equipos</a></li>
              <li><a href="{{ path('app_matches') }}">Partidos</a></li>
              <li><a href="{{ path('app_trainings') }}">Entrenamientos</a></li>
            </ul>
          </li>
          <li><a href="{{ path('app_query') }}">Consultas</a></li> 
          <li><a style="text-decoration: none; color: black">|</a></li> 
          <li><a href="">¡Bienvenido {{app.user.nombre}}!</a></li>
          <li><a href="{{ path('app_logout') }}">Cerrar sesión</a></li>
            </ul>
          </nav><!-- .navbar -->

          <div class="position-relative">
        <a href="https://www.facebook.com/" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="https://www.twitter.com/" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="https://www.instagram.com/" class="mx-2"><span class="bi-instagram"></span></a>

        <script>
          $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                  var value = $(this).val().toLowerCase();
                  $("#myTable tr").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                  });
              });
          });
        </script>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" id="myInput" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->
      </div>
          {% else %}
          <li class="dropdown"><a href=""><span>Equipos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{ path('app_user_team') }}"><strong>Crear equipo</strong></a></li>
            </ul>
          </li>
          <li><a href="{{ path('app_user_clubs') }}"><span>Clubs</span></a></li>
          <li class="dropdown"><a href=""><span>Partidos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{ path('app_user_matches') }}">Historial de partido</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href=""><span>Entrenamientos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{ path('app_user_training') }}">Historial de entrenamientos</a></li>
            </ul>
          </li>
          <li><a href="{{ path('app_contact') }}">Contacto</a></li> 
          <li><a style="text-decoration: none; color: black">|</a></li> 
          <li class="dropdown"><a href=""><span>¡Bienvenido {{app.user.nombre}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{ path('app_settings',{ 'id' : app.user.id }) }} ">Editar perfil</a></li>
              <li><a href="{{ path('app_user_query',{ 'id' : app.user.id }) }} ">Tus consultas</a></li>
              <li><a href="{{ path('app_logout') }}"><strong>Cerrar sesión</strong></a></li>
            </ul>
         
          </nav><!-- .navbar -->
          </ul>
          <div class="position-relative">
        <a href="https://www.facebook.com/" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="https://www.twitter.com/" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="https://www.instagram.com/" class="mx-2"><span class="bi-instagram"></span></a>

        <script>
          $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                  var value = $(this).val().toLowerCase();
                  $("#myTable tr").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                  });
              });
          });
        </script>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" id="myInput" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

          {% endif %}
    </div>

    </header><!-- End Header -->


    {% endif %}
        {% block body %}        
        {% endblock %}
    </body>
     {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_USER') %}
    <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">Acerca de <i>All in Padel</i></h3>
            <p style="text-align: justify">All padel nace con la necesidad de reservar pistas de pádel de manera online y muy sencilla. Debido a la llegada del Covid-19 todos los establecimientos que
                    contaban con estas pistas para el juego debían realizar las reservas de manera telemática para tener el mínimo contacto posible. Nuestra aplicación soluciona este problema y a día de hoy
                    (ya superada y dada por finalizada la pandemia) más usuarios están empezando a usarla por sus grandes prestaciones a la hora de reserva de pistas.</p>
            <p><a href="" class="footer-link-more">Saber más</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <ul class="footer-links list-unstyled">
              <li><a href="{{ path('app_main') }}"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="{{ path('app_user_list') }}"><i class="bi bi-chevron-right"></i> Usuarios</a></li>
              <li><a href="{{ path('app_admin_clubs') }}"><i class="bi bi-chevron-right"></i> Clubs</a></li>
              <li><a href="{{ path('app_teams') }}"><i class="bi bi-chevron-right"></i>Equipos</a></li>
              <li><a href="{{ path('app_matches') }}"><i class="bi bi-chevron-right"></i>Partidos</a></li>
              <li><a href="{{ path('app_trainings') }}"><i class="bi bi-chevron-right"></i>Entrenamientos</a></li>
              <li><a href="{{ path('app_query') }}"><i class="bi bi-chevron-right"></i>Consultas</a></li>
            </ul>
            {% else %}
            <ul class="footer-links list-unstyled">
              <li><a href="{{ path('app_main') }}"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="{{ path('app_user_team') }}"><i class="bi bi-chevron-right"></i> Equipos</a></li>
              <li><a href="{{ path('app_user_clubs') }}"><i class="bi bi-chevron-right"></i> Clubs</a></li>
              <li><a href="{{ path('app_user_matches') }}"><i class="bi bi-chevron-right"></i> Historial de partidos</a></li>
              <li><a href="{{ path('app_user_training') }}"><i class="bi bi-chevron-right"></i> Historial de entrenamientos</a></li>
              <li><a href="{{ path('app_contact') }}"><i class="bi bi-chevron-right"></i> Contacto</a></li>
            </ul>
            {% endif %}
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Compañía</h3>
            <ul class="footer-links list-unstyled">
              <li><a href=""><i class="bi bi-chevron-right">Nuestro equipo</i></a></li>
              <li><a href=""><i class="bi bi-chevron-right">Newsletters</i></a></li>
              <li><a href=""><i class="bi bi-geo-alt"></i>Oficina</a></li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Últimas noticias sobre el mundo del pádel</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
              <li>
                <a href="https://as.com/opinion/2022/05/09/blogs/1652093537_637801.html" class="d-flex align-items-center">
                  <div>
                    <div class="post-meta d-block"><span class="date">Equipamiento</span> <span class="mx-1">&bullet;</span> <span>Sept 8th '22</span></div>
                    <span>La pala de pádel más cara del mundo</span>
                  </div>
                </a>
              </li>

              <li>
                <a href="https://www.ole.com.ar/padel/premier-padel-mendoza-apt-tour-wild-card_0_Y6AvPyJqNu.html" class="d-flex align-items-center">
                  <div>
                    <div class="post-meta d-block"><span class="date">Internacional</span> <span class="mx-1">&bullet;</span> <span>Sept 8th '22</span></div>
                    <span>La premier Argentina</span>
                  </div>
                </a>
              </li>

              <li>
                <a href="https://www.marca.com/padel/2022/05/10/6279ff6722601db71b8b45c2.html" class="d-flex align-items-center">
                  <div>
                    <div class="post-meta d-block"><span class="date">WPT</span> <span class="mx-1">&bullet;</span> <span>Sept 8th '22</span></div>
                    <span>Paquito Navarro en el WPT</span>
                  </div>
                </a>
              </li>

              <li>
                <a href="https://www.padeladdict.com/sanyo-gutierrez-no-jugara-el-premier-padel-mayor-de-italia/" class="d-flex align-items-center">
                  <div>
                    <div class="post-meta d-block"><span class="date">Nacional</span> <span class="mx-1">&bullet;</span> <span>Sept 8th '22</span></div>
                    <span>Sanyo Gutiérrez no jugará la próxima prueba del Premier</span>
                  </div>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span><i>All in Padel</i> - Javier Ruiz Muro</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
              <p>Designed by Javier Ruiz Muro</p>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% else %}
  {% endif %}
</html>
