{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">
        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Contacta con nosotros</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">¿Tienes alguna duda? Nuestro equipo estará encantando de resolverlas.</p>

        <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                  {{ form_start(contactForm) }}
                    <!--Grid row-->
                    <div class="row">                        
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="form-outline mb-4">
                            {{ form_widget(contactForm.name,{'attr':{'class':'form-control'}, 'value': app.user.nombre }) }}
                            Nombre:
                          </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="form-outline mb-4">
                              {{ form_widget(contactForm.email,{'attr':{'class':'form-control'}, 'value': app.user.email}) }}
                              Correo electrónico:
                          </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-outline mb-4">
                              {{ form_widget(contactForm.subject,{'attr':{'class':'form-control'}}) }}
                              Asunto:
                          </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="form-outline mb-4">
                              {{ form_widget(contactForm.msg,{'attr':{'class':'form-control'}}) }}
                              Mensaje:
                          </div>

                        </div>
                    </div>
                    <!--Grid row-->
                  

                <div class="text-center text-md-left">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
                {{ form_end(contactForm) }}
                <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Azagra 31560, Navarra, España</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 34 666 66 66 66</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>javier@tfg.com</p>
                    </li>
                </ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11801.949308299605!2d-1.9050945082517463!3d42.310803535131086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5a895b37318e87%3A0x9be503592bdb3a7a!2sConsultorio%20Local%20Azagra!5e0!3m2!1ses!2ses!4v1652437842503!5m2!1ses!2ses" width="400" height="257" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            <!--Grid column-->
        </div>
    </section>
    </div>
    <!--Section: Contact v.2-->
  </main>
  
{% endblock %}
