{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <main id="main">

    <div class="container-md">

        <!--Section: Contact v.2-->
    <section class="mb-4">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center">Editando entrenamiento</h2>
        {{ form_start(form) }}
                    <div class="form-group">
                        Pista en la que quieres entrenar:
                        {{ form_widget(form.pitch,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Descripcion:
                        {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Estado:
                        {{ form_widget(form.status,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        Fecha:
                        {{ form_widget(form.date,{'attr':{'class':'form-control'}}) }}
                    </div>
                        {{ form_widget(form.id_user,{ 'value': app.user.id }) }}
                    <div class="form-group">
                        <button class="btn btn-primary mt-2 text-white">Acualizar</button>
                        <a class="btn btn-primary mt-2 text-white" href="{{ path('app_user_training')}}">Volver</a>
                    </div>
        {{form_end(form)}}          
            <!--Grid column-->
    </section>
 
  </main>
 
{% endblock %}
